<div class="ui tab" data-tab="bundle">
    {{ form_row(form.bundleProducts, {'remote_url': path('sylius_admin_ajax_product_by_name_phrase'), 'load_edit_url': path('sylius_admin_ajax_product_by_code')}) }}
</div>
