{% set variantId = product.variants.first().id %}

<form action="{{ path('app_one_click_checkout', {'variantId': variantId}) }}" method="post">
    <button type="submit" class="ui button huge yellow labeled icon"><i class="icon bolt"></i> One click checkout</button>
</form>
